.App {
  background-color: #181D23;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
}
.fw-less-bold {
  font-weight: 500;
}
.active {
  background-color: #FDFB9F !important;
  color: #181D23 !important;
  font-weight: 700 !important;
}